<div class="home">
		<div class="home_background" style="background-image:url(../assets/images/background.jpg)"></div>
			
</div>
<div class="find">
    <!-- Image by https://unsplash.com/@garciasaldana_ -->
    <div class="find_background" style="background-image:url(../assets/images/find.jpg);background-repeat: no-repeat;" ></div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="find_title text-center">Find the Adventure of a lifetime</div>
        </div>
        <div class="col-12">
          <div class="find_form_container">
            <form action="#" id="find_form" class="find_form d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-between justify-content-start flex-wrap">
              <div class="find_item">
                <div>Destination:</div>
                <input type="text" class="destination find_input" required="required" placeholder="Keyword here">
              </div>
              <div class="find_item">
                <div>Adventure type:</div>
                <select name="adventure" id="adventure" class="dropdown_item_select find_input">
                  <option>Categories</option>
                  <option>Categories</option>
                  <option>Categories</option>
                </select>
              </div>
              <div class="find_item">
                <div>Min price</div>
                <select name="min_price" id="min_price" class="dropdown_item_select find_input">
                  <option>&nbsp;</option>
                  <option>Price</option>
                  <option>Price</option>
                </select>
              </div>
              <div class="find_item">
                <div>Max price</div>
                <select name="max_price" id="max_price" class="dropdown_item_select find_input">
                  <option>&nbsp;</option>
                  <option>Price</option>
                  <option>Price</option>
                </select>
              </div>
              <button class="button find_button">Find</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="offers">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h2>Top destinations in Europe</h2>
						<div>take a look at these offers</div>
					</div>
				</div>
			</div>
		
			<div class="row">
				<div class="col">
					<div class="items item_grid clearfix">

						<!-- Item -->
						<div class="item clearfix rating_5" *ngFor = "let l of list">
							<div class="item_image"><img src={{l.imagesLocation}}  alt=""></div>
							<div class="item_content">
								<div class="item_price">From {{l.price}}</div>
								<div class="item_title">{{l.location}}</div>
								<ul >
									<li>{{l.days}} Days</li>
									<!-- <li>4 nights</li>0
									<li>3 star hotel</li> -->
								</ul>
								
								<div class="item_text">{{l.packageDescription}}</div>
								
							</div>
						</div>

						

					</div>
				</div>
			</div>
			
		</div>
	</div>