
<div class="home">
		<div class="home_background" style="background-image:url(../assets/images/background.jpg)"></div>
			<div class="home_content">
			<div class="home_content_inner">
				<div class="home_text_large">discover</div>
				<div class="home_text_small">Discover Nepal</div>
			</div>
		</div>
</div>
  <div class="find">
      <!-- Image by https://unsplash.com/@garciasaldana_ -->
      <div class="find_background =" style="background-image:url(../assets/images/find.jpg)" ></div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="find_title text-center">Find the Adventure of a lifetime</div>
          </div>
          <div class="col-12">
            <div class="find_form_container">
              <form action="#" id="find_form" class="find_form d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-between justify-content-start flex-wrap">
                <div class="find_item">
                  <div>Destination:</div>
                  <input type="text" class="destination find_input" required="required" placeholder="Keyword here">
                </div>
                <div class="find_item">
                  <div>Adventure type:</div>
                  <select name="adventure" id="adventure" class="dropdown_item_select find_input">
                    <option>Categories</option>
                    <option>Categories</option>
                    <option>Categories</option>
                  </select>
                </div>
                <div class="find_item">
                  <div>Min price</div>
                  <select name="min_price" id="min_price" class="dropdown_item_select find_input">
                    <option>&nbsp;</option>
                    <option>Price</option>
                    <option>Price</option>
                  </select>
                </div>
                <div class="find_item">
                  <div>Max price</div>
                  <select name="max_price" id="max_price" class="dropdown_item_select find_input">
                    <option>&nbsp;</option>
                    <option>Price</option>
                    <option>Price</option>
                  </select>
                </div>
                <button class="button find_button">Find</button>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>
<!-- Top Destinations -->

<div class="top">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h2>Top destinations in Nepal</h2>
						<div>take a look at these offers</div>
					</div>
				</div>
			</div>
			<div class="row top_content">

				<div class="col-lg-3 col-md-6 top_col">

					<!-- Top Destination Item -->
					<div class="top_item">
						<a href="#">
							<div class="top_item_image"><img src="../assets/images/Mustang.jpg" alt="https://unsplash.com/@sgabriel"></div>
							<div class="top_item_content">
								<div class="top_item_price">From NRS 25000</div>
								<div class="top_item_text">Mustang</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 top_col">

					<!-- Top Destination Item -->
					<div class="top_item">
						<a href="#">
							<div class="top_item_image"><img src="../assets/images/Pokhara.jpg" alt="https://unsplash.com/@jenspeter"></div>
							<div class="top_item_content">
								<div class="top_item_price">From NRP 15000</div>
								<div class="top_item_text">Pokhara</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 top_col">

					<!-- Top Destination Item -->
					<div class="top_item">
						<a href="#">
							<div class="top_item_image"><img src="../assets/images/Lumbini.jpg" alt="https://unsplash.com/@anikindimitry"></div>
							<div class="top_item_content">
								<div class="top_item_price">From NRP 15000</div>
								<div class="top_item_text">Lumbini</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 top_col">

					<!-- Top Destination Item -->
					<div class="top_item">
						<a href="#">
							<div class="top_item_image"><img src="../assets/images/Chitwan.jpg" alt="https://unsplash.com/@hellolightbulb"></div>
							<div class="top_item_content">
								<div class="top_item_price">From NRP 20000</div>
								<div class="top_item_text">Chitwan</div>
							</div>
						</a>	
					</div>
				</div>

			</div>
		</div>
	</div>
  <div class="video_section d-flex flex-column align-items-center justify-content-center">
      
      <div class="video_background" style="background-image:url(../assets/images/Janki.jpg)"></div>
      <div class="video_content">
        <div class="video_title">Trip in Nepal</div>
        <div class="video_subtitle">A trip organized by Happy Trip's team</div>
        <div class="video_play">
          <a  class="video" href="https://www.youtube.com/watch?v=qpXWepTBU90">
            <svg version="1.1" id="Layer_1" class="play_button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="140px" height="140px" viewBox="0 0 140 140" enable-background="new 0 0 140 140" xml:space="preserve">
              <g id="Layer_2">
                <circle class="play_circle" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" cx="70.333" cy="69.58" r="68.542"/>
                <polygon class="play_triangle" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" points="61.583,56 61.583,84.417 84.75,70 	"/>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>